$primaryRed: #dc3545;


h2 {
    font-family: "Audiowide";
    background: #DC3545;
    background: linear-gradient(0deg, #DC3545 5%, #5398BE 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
p, input, label,h1 ,button,h3, #feedStarter,select{
    font-family: "Roboto";
}
.form-control, .form-control:focus, .form-control:active, textarea, .form-control-sm {
    box-shadow: none;
    border: 1px solid $primaryRed;
    background-color: transparent;
    color: white;
    
}
.form-control::placeholder {
    color: rgba(170, 170, 170, 0.722);
}
